In [20]:
import pandas as pd
from sqlalchemy import create_engine

# Function to read VCF file into DataFrame


def read_vcf(file: str) -> pd.DataFrame:
    num_header = 0
    with open(file) as f:
        for line in f:
            if line.startswith("##"):
                num_header += 1
            elif line.startswith("#"):
                num_header += 1
                break
    # Read the VCF, assuming the column names are on the last line of the headers
    vcf = pd.read_csv(file, sep="\t", skiprows=num_header, dtype=str)
    vcf = vcf.rename(columns={"#CHROM": "CHROM"})
    return vcf

# Function to upload DataFrame to PostgreSQL


def upload_to_postgres(df: pd.DataFrame, table_name: str, database_url: str):
    # Create SQLAlchemy engine
    engine = create_engine(database_url)
    # Upload data to PostgreSQL table
    df.to_sql(table_name, engine, if_exists='replace',
              index=False, method='multi', chunksize=1000)
    print(f"Data uploaded to table '{table_name}' in the PostgreSQL database.")


# Example usage
database_url = 'postgresql://postgres:admin@localhost:5432/biologicalsamples'
table_name = 'genomic_data'
file_path = 'GBS_filtered_SNPs.vcf'
df = read_vcf(file_path)
upload_to_postgres(df, table_name, database_url)

Data uploaded to table 'genomic_data' in the PostgreSQL database.

In [24]:
df.shape

(210651, 67)

In [18]:
df["INFO"].apply(lambda x: x[x.index("AF="):].split(";")[
                 0].split("=")[1] if "AF=" in x else ".")

0         0.196
1         0.304
2         0.477
3         0.477
4         0.489
          ...
210647    0.040
210648    0.040
210649    0.040
210650    0.068
210651    0.043
Name: INFO, Length: 210652, dtype: object

In [4]:
# Function to read VCF file into DataFrame
def read_vcf(file: str) -> pd.DataFrame:
    num_header = 0
    with open(file) as f:
        for line in f:
            if line.startswith("##"):
                num_header += 1
    # Read the VCF, assuming the column names are on the last line of the headers
    vcf = pd.read_csv(file, sep="\t", skiprows=num_header, dtype=str)
    vcf = vcf.rename(columns={"#CHROM": "CHROM"})
    return vcf


vcf_file_path = 'GBS_filtered_SNPs.vcf'
vcf = read_vcf(vcf_file_path)

,CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,102,...,cham6,clear_white,dharwar_dry,hidhab,klein_chamaco,opata,pavon,pbw343,rac875,vorobey
0,3929455_1al,1623,.,T,C,245.53,.,AC=18;AF=0.196;AN=92;BaseQRankSum=0.079;DP=48;...,GT:AD:DP:GQ:PL,"0/0:1,0:1:3:0,3,41",...,"0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39",./.,./.,"1/1:0,1:1:3:39,3,0","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39"
1,3929455_1al,1625,.,A,C,417.94,.,AC=28;AF=0.304;AN=92;BaseQRankSum=-1.418;DP=48...,GT:AD:DP:GQ:PL,"0/0:1,0:1:3:0,3,41",...,"0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39",./.,./.,"1/1:0,1:1:3:39,3,0","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39"
2,3967255_1al,9694,.,C,G,654.37,.,AC=41;AF=0.477;AN=86;BaseQRankSum=1.762;DP=45;...,GT:AD:DP:GQ:PL,./.,...,./.,"0/0:1,0:1:3:0,3,37","1/1:0,1:1:3:39,3,0",./.,"1/1:0,1:1:3:37,3,0","0/0:1,0:1:3:0,3,39","1/1:0,1:1:3:39,3,0","0/0:1,0:1:3:0,3,39","0/0:1,0:1:3:0,3,39","0/1:1,1:2:33:33,0,33"
3,3967255_1al,9864,.,A,G,663.37,.,AC=41;AF=0.477;AN=86;BaseQRankSum=0.141;DP=45;...,GT:AD:DP:GQ:PL,./.,...,./.,"0/0:1,0:1:3:0,3,39","1/1:0,1:1:3:40,3,0",./.,"1/1:0,1:1:3:40,3,0","0/0:1,0:1:3:0,3,40","1/1:0,1:1:3:40,3,0","0/0:1,0:1:3:0,3,40","0/0:1,0:1:3:0,3,40","0/1:1,1:2:29:34,0,29"
4,3967255_1al,9908,.,C,T,752.26,.,AC=43;AF=0.489;AN=88;BaseQRankSum=0.125;DP=45;...,GT:AD:DP:GQ:PL,./.,...,./.,"0/0:1,0:1:3:0,3,41","1/1:0,1:1:3:42,3,0",./.,"1/1:0,1:1:3:42,3,0","0/0:1,0:1:3:0,3,42","1/1:0,1:1:3:42,3,0","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/1:1,1:2:32:36,0,32"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210647,3848042_7ds,176,.,A,G,33.32,.,AC=4;AF=0.040;AN=100;BaseQRankSum=0.218;DP=52;...,GT:AD:DP:GQ:PL,./.,...,./.,"0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42"
210648,3848042_7ds,195,.,G,C,32.32,.,AC=4;AF=0.040;AN=100;BaseQRankSum=-1.577;DP=51...,GT:AD:DP:GQ:PL,./.,...,./.,"0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","1/1:0,1:1:3:41,3,0","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42"
210649,3848042_7ds,199,.,A,C,33.32,.,AC=4;AF=0.040;AN=100;BaseQRankSum=0.655;DP=51;...,GT:AD:DP:GQ:PL,./.,...,./.,"0/0:1,0:1:3:0,3,42","1/1:0,1:1:3:42,3,0","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42"
210650,3848042_7ds,305,.,A,G,59.12,.,AC=6;AF=0.068;AN=88;BaseQRankSum=2.063;DP=82;D...,GT:AD:DP:GQ:PL,./.,...,"0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45","0/0:2,0:2:3:0,3,45"
210651,3928808_7ds,1180,.,G,A,33.98,.,AC=4;AF=0.043;AN=94;BaseQRankSum=1.871;DP=47;D...,GT:AD:DP:GQ:PL,"0/0:1,0:1:3:0,3,41",...,"0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","0/0:1,0:1:3:0,3,42","1/1:0,1:1:3:42,3,0"

In [5]:
import pandas as pd
from sqlalchemy import create_engine, text
import json
import os

# Function to read VCF file into DataFrame

Data uploaded to table 'genomic_data' in the PostgreSQL database.
Metadata uploaded to 'vcf_metadata' table in the PostgreSQL database.